@()(implicit user: Option[models.UserEntity], request: play.api.mvc.Request[Any], messages: Messages)
@scripts = {
  <script src="@routes.Assets.at("lib/ckeditor/standard/ckeditor.js")"></script>
  <script src="@routes.Assets.at("lib/angularjs/angular.js")"></script>
  <script src="@routes.Assets.at("lib/angularjs/angular-route.min.js")"></script>

  <script src="@routes.Assets.at("lib/ng-ckeditor/ng-ckeditor.js")"></script>
  <script src="@routes.Assets.at("lib/angular-ui-router/angular-ui-router.min.js")"></script>
  <script src="@routes.Assets.at("lib/angular-ui-bootstrap/ui-bootstrap-tpls.min.js")"></script>

  <script src="@routes.Assets.at("javascripts/modules/pages/pages.js")"></script>
  <script src="@routes.Assets.at("javascripts/modules/pages/controllers/PageListController.js")"></script>
  <script src="@routes.Assets.at("javascripts/modules/pages/controllers/PageEditController.js")"></script>
  <script src="@routes.Assets.at("javascripts/modules/pages/controllers/SectionEditController.js")"></script>
  <script src="@routes.Assets.at("javascripts/modules/pages/services/PageService.js")"></script>
  <script src="@controllers.admin.routes.Page.javascriptRoutes"></script>
}

@views.html.Admin.main("Страницы", "pages", scripts = scripts) {
<div ng-app="pagesModule">
    <div ui-view></div>
</div>
}
