@(order: Option[OrderInfo])
@*
//TODO: Move this text out of templates and make it editable
*@
@emails.order.main(order, additionalContent(order.get)) {
    <h4> Уважаемый администратор! </h4>
    <p>
            На сайте был сформирован новый заказ и его статус в данный момент неподтвержденный.
            Клиент ожидает вашего действия. Вам необходимо подтвердить, либо отклонить заказ. В случае подтверждения клиенту будет отправлено
            письмо о том, что все заказанные товары имеются в наличии и будут доставлены. В случае отказа, клиенту будет
            отправлено письмо, уведомляющее о том, что товаров нет в наличии (если вы захотите предложить альтернативу,
            необходимо будет заполнить поле "комментарий"). Шаблоны писем, также можно исправить в панели администратора на
            сайте.
    </p>

    <h4> Было заказано: </h4>
    <hr/>
}
@additionalContent(order: OrderInfo) = {
    <h4>Информация для контакта и доставки</h4>
    <address>
        <strong> @order.deliveryInfo.name </strong> <br/>
        @order.deliveryInfo.address
        <br/>
        <abbr title="Phone"> тел.: </abbr> @order.deliveryInfo.phone
    </address>
    <br/>
    <address>
        Эл. почта:
        <a href="mailto:#"> @order.deliveryInfo.email </a>
    </address>
}
