@(order: Option[OrderInfo], additionalContent: Html = Html(""))(content: Html)
@*
//TODO: Move the text out of this template. Make it editable
*@
@import Cart.shoppingList
<!DOCTYPE html>
<html>
    <head>
        <title></title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/bootstrap/main.min.css")">
    </head>

    <body style="padding:10px">
        @order match {
            case Some(orderInfo) => {
                @content
                @shoppingList(orderInfo.items, editable = false)
                @additionalContent
            }
            case None => {
                <span class="alert alert-error">Данный заказ не найден</span>
            }
        }
    </body>

</html>