@(unconfirmedCount: Int)
<h4>Уважаемый администратор!</h4>
<p>Обратите, пожалуйста, внимание, что на сайте остались неподтвержденные заказы.
    Это значит, что клиент не получил еще никакого ответа от вас. Очень важно реагировать
    как можно скорее, иначе клиент обратится в другой интернет магазин.
</p>
<hr/>
Количество неподтвержденных заказов: <b>@unconfirmedCount</b>
<br/>
<!--TODO: Hardcoded url. Move to config. -->
<a href="http://digitalband.ru/admin/order/list/1">Перейти на страницу заказов</a>