@(unconfirmedCount: Map[String, Int])
<h4>Уважаемый администратор!</h4>
<p>Обратите, пожалуйста, внимание, что на сайте остались неподтвержденные заказы.
    Это значит, что клиент не получил еще никакого ответа от вас. Очень важно реагировать
    как можно скорее, иначе клиент обратится в другой интернет магазин.
</p>
@for((host, count) <- unconfirmedCount) {
    <hr/>
    Количество неподтвержденных заказов для @host: <b>@count</b>
    <br/>
    @{
        val url = s"<a href='http://$host/admin/order/list/1'>Перейти на страницу заказов</a>";
        Html(url)
    }
}
