@()(implicit user: Option[models.UserEntity], request: play.api.mvc.Request[Any])
@scripts = {
<script src="http://tinymce.cachefly.net/4.1/tinymce.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular.js"></script>
<script src="http://code.angularjs.org/1.2.25/angular-sanitize.js"></script>
<script src="http://code.angularjs.org/1.2.25/angular-route.js"></script>

<script src="@routes.Assets.at("javascripts/vendor/tinymceUi/tinymce.js")"></script>
<script src="@routes.Assets.at("javascripts/vendor/angular/angular-ui-router.js")"></script>
<script src="@routes.Assets.at("javascripts/lodash.js")"></script>
<script src="@routes.Assets.at("javascripts/vendor/textAngular/textAngular.js")"></script>
<script src="@routes.Assets.at("javascripts/vendor/textAngular/textAngular-sanitize.js")"></script>
<script src="@routes.Assets.at("javascripts/vendor/textAngular/textAngularSetup.js")"></script>

<script src="@routes.Assets.at("javascripts/modules/cities/cities.js")"></script>
<script src="@routes.Assets.at("javascripts/modules/cities/controllers/CityListController.js")"></script>
<script src="@routes.Assets.at("javascripts/modules/cities/controllers/CityEditController.js")"></script>
<script src="@routes.Assets.at("javascripts/modules/cities/services/CityService.js")"></script>
<script src="@controllers.admin.routes.City.javascriptRoutes"></script>
}

@views.html.Admin.main("Города", "cities", scripts = scripts) {
<div ng-app="citiesModule">
    <div ui-view></div>
</div>
}