@(product: Form[models.ProductDetails], images: Seq[Int], productId: Int)(implicit user: Option[models.UserEntity], request: play.api.mvc.Request[Any])
@import views.html.common.bootstrap._
@scripts = {
    <script>
            $(document).ready(function() {
                CKEDITOR.replace("description")
            });
    </script>
}
@views.html.Admin.main("Администрирование", "index", scripts = scripts) {
    <div class="page-header">
        <h4> @productId match {
            case 0 => {Создание нового товара}
            case _ => {Редактирование товара}
            } </h4>
    </div>
    @request.flash.data.map {
        case (className, message) => {
            <div class="alert  @className"> @message </div>
        }
    }
    <form action="@controllers.admin.routes.Product.save()" method="POST" class="form-inline" enctype="multipart/form-data">
        <input type="hidden" name="categoryId" value="@product("categoryId").value" />
        <input type="hidden" name="id" value="@product("id").value" />
        <div class="row">
            <div class="span6">
                @helper.inputText(product("title"), '_label -> "Название")
                @helper.inputText(product("price"), '_label -> "Цена", 'type -> "number")
                @helper.textarea(product("shortDescription"), '_label -> "Краткое описание", 'class -> "span6")
                @helper.textarea(product("description"), '_label -> "Описание", 'rows -> "10", 'class -> "span6")
            </div>
            <div class="span6">
                @helper.inputText(product("brand"), '_label -> "Бренд")
                <div class="control-group">
                    <label class="control-label" for="image">
                            Фото
                    </label>
                    <div class="controls">
                        <input type="file" name="image" id="image" />
                        @images.map { image =>
                            <img class="thumbnail" src="@routes.Image.get(image + ".jpg", 90, "60x60", "full")"/>
                        }
                    </div>
                </div>
            </div>
        </div>

        <div class="form-actions">
            <button class="btn btn-primary"> <i class="icon-save"></i> Сохранить </button>
        </div>

    </form>
}