@(product: models.ProductDetails)(implicit user: Option[models.UserEntity], request: play.api.mvc.Request[Any], messages: Messages)
@views.html.Admin.main("Администрирование", "index") {
    <div class="col-md-12 page-block">
        <div class="alert alert-danger">Вы действительно хотите удалить товар?</div>
        <form method="POST" class="well">
            <div class="form-actions">
                <button class="btn btn-danger"><i class="fa fa-trash"></i>Удалить</button>
            </div>
        </form>
    </div>
}
