@(order: OrderInfo)(implicit user: Option[models.UserEntity], request: play.api.mvc.Request[Any], messages: play.api.i18n.Messages)
@views.html.Admin.main("Администрирование", "orders") {
    <div class="col-md-12 page-block">
        <div class="alert alert-info"> Вы действительно хотите подтвердить заказ? </div>
        <form method="POST" class="well" action="@controllers.admin.routes.Order.confirm(order.id)">
            <div class="control-group">
                <label for="comment" class="control-label">
                    Комментарий
                </label>
                <div class="controls">
          <textarea rows="10" class="form-control" name="comment" id="comment">
  Здравствуйте, @order.deliveryInfo.name!

Спасибо за ваш заказ в нашем интернет-магазине! @order.items.map(item => item.title).reduce((a, b) => a + ", " + b) есть в наличии.
Для уточнения способа оплаты и доставки мы свяжемся с Вами в течение 3 рабочих дней

---------------------------------------------------
Вы заказали:
@order.items.map { orderItem =>
   - @orderItem.title - @orderItem.count шт. @Messages("formats.price", orderItem.total)
}
Итоговая сумма заказа: @Messages("formats.price", order.items.map(i => i.total).sum)
                    </textarea>
                </div>
            </div>
            <div class="form-actions">
                <button class="btn btn-primary"> Подтвердить </button>
            </div>
        </form>
    </div>
}
