@(items: Seq[models.OrderInfo])(implicit user: Option[models.UserEntity], request: play.api.mvc.Request[Any])
@views.html.admin.main("Заказы", "orders") {
    @items.map {
        case order => {
            <div class="row">
                <div class="span2"> @order.id </div>
                <div class="span3"> @order.orderDate </div>
                <div class="span3"> @order.status </div>
                <div class="span4"> @order.deliveryInfo.email </div>
            </div>
        }
    }
    @if(items.isEmpty) {
        <div class="alert alert-info">
                Нет заказов
        </div>
    }
}