@(listPage: ListPage[models.OrderInfo], pageSize: Int, pageNumber: Int)(implicit user: Option[models.UserEntity], request: play.api.mvc.Request[Any])
@import Shared.pager
@import views.html.admin.Order.statusButton
@views.html.admin.main("Заказы", "orders") {
    @if(!listPage.items.isEmpty){
        <div class="pull-right">
        @pager(new helpers.PagerHelper(pageSize, listPage.totalCount, pageNumber), p => controllers.admin.routes.Order.list(p, pageSize))
        </div>
        @listPage.items.map {
            case order => {
                <div class="row" style="clear: both">
                    <div class="span2">
                        <a href="@controllers.admin.routes.Order.display(order.id)">
                            <i class="icon-money"></i>
                                Заказ № @order.id
                        </a>
                    </div>
                    <div class="span4">
                        <i class="icon-calendar"></i>
                        @order.orderDateFormatted
                    </div>
                    <div class="span3">
                        <i class="icon-user"></i> @order.deliveryInfo.email
                    </div>
                    <div class="span3">
                        @statusButton(order.status)
                    </div>
                </div>
                <hr/>
            }
        }
        <div class="pull-right">
        @pager(new helpers.PagerHelper(pageSize, listPage.totalCount, pageNumber), p => controllers.admin.routes.Order.list(p, pageSize))
        </div>
    }
    @if(listPage.items.isEmpty) {
        <div class="alert alert-info">
                Нет заказов
        </div>
    }
}