@(product: models.ProductDetails, email: String)(implicit request: Request[Any])

<h4> Уважаемый Администратор! </h4>
<p> Пользователь
        @email
        запросил информацию о наличии <a href="@routes.Product.display(product.id).absoluteURL()"> @product.title </a>.</p>
<p> Чтобы ответить на этот запрос, вам нужно нажать на одну из следующих ссылок: </p>
<ul>
    <li> <a href="#"> Есть в наличии </a> </li>
    <li> <a href="#"> Нет в наличии </a> </li>
</ul>
<p>После нажатия на одну из ссылок, вы будете направлены на форму со стандартным содержимым для отправки пользователю.
Вы сможете отправить ответ как со стандартным содержимым, так и с внесенными изменениями.
</p>