@(data: play.api.libs.json.JsValue)(implicit user: Option[models.UserEntity], request: play.api.mvc.Request[Any])
@import Shared._
@scripts = {
    <script src="@routes.Assets.at("javascripts/highcharts/highcharts.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("javascripts/charts.js")" type="text/javascript"></script>
    <script>
        $(function(){
            var data = @Html(data.toString);
            renderChart("pie", "Заказы", data);
        });
    </script>
}
@views.html.Admin.main("Администрирование", "index", scripts = scripts) {
    <div class="row">
        <div class="span12">
            <div id="container"></div>
        </div>
    </div>
}