@()(implicit user: Option[models.UserEntity], request: play.api.mvc.Request[Any])
  @scripts = {
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.1/angular.js"></script>
    <script src="http://code.angularjs.org/1.3.0-beta.1/angular-animate.js"></script>
    <script src="http://code.angularjs.org/1.3.0-beta.1/angular-route.js"></script>
    <script src="@routes.Assets.at("javascripts/vendor/angular/angular-ui-router.js")"></script>
    <script src="@routes.Assets.at("javascripts/lodash.js")"></script>

    <script src="@routes.Assets.at("javascripts/modules/shops/shops.js")"></script>
    <script src="@routes.Assets.at("javascripts/modules/shops/controllers/ShopListController.js")"></script>
    <script src="@routes.Assets.at("javascripts/modules/shops/controllers/ShopEditController.js")"></script>
    <script src="@routes.Assets.at("javascripts/modules/shops/services/ShopService.js")"></script>
    <script src="@controllers.admin.routes.Shop.javascriptRoutes"></script>
  }
@views.html.Admin.main("Магазины", "shops", scripts = scripts) {
  <div ng-app="shopsModule">
    <div ui-view></div>
  </div>
}
