@()(implicit user: Option[models.UserEntity], request: play.api.mvc.Request[Any])
  @scripts = {
    <script src="@routes.Assets.at("javascripts/vendor/angular/1.2.26/angular.js")"></script>
    <script src="@routes.Assets.at("javascripts/vendor/angular/1.2.26/angular-animate.js")"></script>
    <script src="@routes.Assets.at("javascripts/vendor/angular/1.2.26/angular-route.js")"></script>
    <script src="@routes.Assets.at("javascripts/vendor/angular/ui-router/0.2.11/angular-ui-router.js")"></script>
    <script src="@routes.Assets.at("javascripts/lodash.js")"></script>

    <script src="@routes.Assets.at("javascripts/modules/shops/shops.js")"></script>
    <script src="@routes.Assets.at("javascripts/modules/shops/controllers/ShopListController.js")"></script>
    <script src="@routes.Assets.at("javascripts/modules/shops/controllers/ShopEditController.js")"></script>
    <script src="@routes.Assets.at("javascripts/modules/shops/services/CityService.js")"></script>
    <script src="@routes.Assets.at("javascripts/modules/shops/services/ShopService.js")"></script>

    <script src="@controllers.admin.routes.Shop.javascriptRoutes"></script>
  }
@views.html.Admin.main("Магазины", "shops", scripts = scripts) {
  <div ng-app="shopsModule">
    <div ui-view></div>
  </div>
}
