@()(implicit user: Option[models.UserEntity], request: play.api.mvc.Request[Any], messages: Messages)
  @scripts = {
    <script src="@routes.Assets.at("lib/angularjs/angular.min.js")"></script>
    <script src="@routes.Assets.at("lib/angularjs/angular-animate.min.js")"></script>
    <script src="@routes.Assets.at("lib/angularjs/angular-route.min.js")"></script>
    <script src="@routes.Assets.at("lib/angular-ui-router/angular-ui-router.js")"></script>

    <script src="@routes.Assets.at("javascripts/modules/shops/shops.js")"></script>
    <script src="@routes.Assets.at("javascripts/modules/shops/controllers/ShopListController.js")"></script>
    <script src="@routes.Assets.at("javascripts/modules/shops/controllers/ShopEditController.js")"></script>
    <script src="@routes.Assets.at("javascripts/modules/shops/services/CityService.js")"></script>
    <script src="@routes.Assets.at("javascripts/modules/shops/services/ShopService.js")"></script>

    <script src="@controllers.admin.routes.Shop.javascriptRoutes"></script>
  }
@views.html.Admin.main("Магазины", "shops", scripts = scripts) {
  <div ng-app="shopsModule">
    <div ui-view></div>
  </div>
}
