@(items: Seq[models.CartItem], orderId: Int)(implicit user:Option[models.UserEntity])
@import Cart.shoppingList
@main() {
    <div class="page-header">
        <h3> Подтверждение заказа </h3>
    </div>
    <p>
            Заказ №
            @orderId
            успешно сформирован и ожидает обработки. В ближайшее время с Вами свяжется продавец
            и уточнит детали доставки. Спасибо за заказ, всего вам доброго и ждем вас снова у нас в гостях!
    </p>
    <div class="page-header">
        <h4> Детали заказа: </h4>
    </div>
    @shoppingList(items, "", false)
}