@(items: Seq[models.CartItem], orderId: Int)(implicit user: Option[models.UserEntity], request: play.api.mvc.Request[Any], messages: Messages)
@import Cart.shoppingList
@import Shared.wizard
@main(Messages("main.head.title")) {
    <div class="col-md-12 page-block">
    @wizard(4)
    <div class="page-header">
        <h3> @Messages("order.confirmation.title") </h3>
    </div>
    <p>
        @Messages("order.confirmation.text", orderId)
    </p>
    <div class="page-header">
        <h4> @Messages("order.confirmation.details.title") </h4>
    </div>
    @shoppingList(items, "", false)
    </div>
}
