@(items: Seq[models.CartItem], orderInfo: Form[PickupDeliveryInfo], shops: Seq[(String, String)])(implicit user: Option[models.UserEntity], request: play.api.mvc.Request[Any])
@import Cart.shoppingList

@import Shared.wizard
@import views.html.common.bootstrap.hfc
@import views.html.Security.loginpart

@main(menuItem = "cart") {
<div class="page-block" xmlns="http://www.w3.org/1999/html">
    <div class="col-md-12">
        @wizard(2)
    </div>

    <div class="col-md-12">
        <div class="page-header">
            <h3> @Messages("order.deliveryinfo.title") </h3>
            &nbsp;<a href="@routes.Cart.display()"> <i class="icon-edit"></i> @Messages("order.deliveryinfo.editbutton") </a>
        </div>
        @shoppingList(items, "", false)
        <form method="post" action="@routes.Order.createPickup">
            <div class="form-horizontal">
                <fieldset>
                    <legend>
                        @Messages("order.deliveryinfo.form.personallegend")
                    </legend>
                    @helper.inputText(orderInfo("personalInfo.lastName"), 'class -> "form-control")
                    @helper.inputText(orderInfo("personalInfo.firstName"), 'class -> "form-control")
                    @helper.inputText(orderInfo("personalInfo.middleName"), 'class -> "form-control")
                    @helper.inputText(orderInfo("personalInfo.phone"), 'class -> "form-control")
                    @helper.inputText(orderInfo("personalInfo.email"), 'class -> "form-control")

                    @user match {
                        case Some(u) => {}
                        case None => {
                            <div class="form-group">
                                <label class="col-sm-2 control-label" for="password">
                                    @Messages("password")
                                </label>
                                <div class="col-sm-6">
                                    <input type="text" id="password" class="form-control">
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-2 control-label"></label>
                                <div class="checkbox col-sm-6">
                                    <label>
                                        <input type="checkbox">Зарегистрироваться на сайтe
                                    </label>
                                    &nbsp;|
                                    <a href="@routes.Security.login(request.uri)">&nbsp;войти на сайт</a>
                                </div>
                            </div>
                        }
                    }
                </fieldset>
                <fieldset>
                    <legend>
                        @Messages("order.deliveryinfo.form.pickuplegend")
                    </legend>

                    @helper.select(orderInfo("shopId"), options = shops, 'class -> "form-control")
                </fieldset>

                <fieldset>
                    <legend>
                        @Messages("order.deliveryinfo.form.additionallegend")
                    </legend>
                    @helper.textarea(orderInfo("comment"), 'rows -> 6, 'class -> "form-control")
                </fieldset>
            </div>
            <br>
            <button class="btn btn-primary"> <i class="icon-arrow-right"></i> &nbsp; @Messages("order.fill.form.buttons.placeorder") </button>
        </form>
    </div>

</div>
}
