@(items: Seq[models.CartItem])(implicit user: Option[models.UserEntity], request: play.api.mvc.Request[Any])
@import Cart.shoppingList
@import Shared.wizard
@import views.html.common.bootstrap.hfc
@import views.html.Security.loginpart

@main(menuItem = "cart") {
    <div class="page-block">
        <div class="col-md-12">
        @wizard(2)
        </div>

        <div class="col-md-12">
            <div class="page-header">
                <h3> @Messages("order.deliveryinfo.title") </h3>
                    &nbsp;<a href="@routes.Cart.display()"> <i class="icon-edit"></i> @Messages("order.deliveryinfo.editbutton") </a>
            </div>
            @shoppingList(items, "", false)

            <div class="form-horizontal">
                <fieldset>
                    <legend>
                        @Messages("order.deliveryinfo.form.deliverylegend")
                    </legend>
                    <a href="@routes.Order.fillDelivery" class="btn btn-primary"> @Messages("delivery") </a>
                    <a href="@routes.Order.fillPickup" class="btn btn-primary"> @Messages("pickup") </a>

                </fieldset>
            </div>
        </div>
    </div>
}
