@(product: models.ProductDetails, rentRequest: Form[RentRequest])(implicit user: Option[models.UserEntity],request: play.api.mvc.Request[Any], messages: Messages)
@import views.html.common.bootstrap.fc
@main("Взять в аренду", "Index", scripts = Html("")) {
  <div class="row">
    <div class="col-lg-12">
      <div class="block">
        <h2 class="block-title">Аренда</h2>
      </div>

    </div>
  </div>
  <div class="row">
    <div class="col-md-6">

        <h4 class="block-title">@product.title</h4>

      <div class="thumbnail">
        <img alt="" src="@routes.Image.get(product.defaultImageId + ".jpg", 90, "660x500", "full")">
      </div>
      <br>
      <div>
        <address>
          <div>
            <strong>Бренд:</strong> <span>@product.brand.title</span>
          </div>
          <div>
            <strong>Категория: </strong>
            <span>
              @product.category.title
            </span>
          </div>
          <div>
            <strong>Артикул:</strong> <span>@product.id</span> <br/>
          </div>
          <br/>
        </address>

      </div>
    </div>
    <form action="@routes.Rent.postRequest(product.id)" method="post" class="col-md-6">
      @helper.inputText(rentRequest("quantity"), 'class -> "form-control", '_label -> "Количество", 'type -> "number")
      @helper.inputText(rentRequest("firstName"), 'class -> "form-control", '_label -> "Имя")
      @helper.inputText(rentRequest("lastName"), 'class -> "form-control", '_label -> "Фамилия")
      @helper.inputText(rentRequest("email"), 'class -> "form-control", '_label -> "Email")
      @helper.inputText(rentRequest("phone"), 'class -> "form-control", '_label -> "Телефон")
      <br>
      <div class="block">
        <span class="block-title">Адрес</span>
      </div>
      @helper.inputText(rentRequest("city"), 'class -> "form-control", '_label -> "Город")
      @helper.inputText(rentRequest("street"), 'class -> "form-control", '_label -> "Улица и номер дома")
      @helper.textarea(rentRequest("notes"), 'class -> "form-control", '_label -> "Замечания к заказу",
        'placeholder -> "Здесь можно указать на какой промежуток времени вы хотите арендовать данный товар")
      <button class="btn btn-primary">Отправить запрос</button>
      <br>
    </form>
  </div>
  <br>
}
