@(product: models.ProductDetails)(implicit user: Option[models.UserEntity],request: play.api.mvc.Request[Any])
@main("Взять в аренду", "Index", scripts = Html("")) {
  <div class="row">
    <form action="@routes.Rent.postRequest(product.id)" class="col-md-6">
      <div class="form-group">
        <label for="firstName">
          Имя
        </label>
        <input type="text" name="firstName" id="firstName" class="form-control">
      </div>
      <div class="form-group">
        <label for="lastName">
          Фамилия
        </label>
        <input type="text" name="lastName" id="lastName" class="form-control">
      </div>
      <div class="form-group">
        <label for="email">
          Email
        </label>
        <input type="email" name="email" id="email" class="form-control">
      </div>
      <div class="form-group">
        <label for="phone">
          Телефон
        </label>
        <input type="text" name="phone" id="phone" class="form-control">
      </div>
      <br>
      <div class="block">
        <span class="block-title">Адрес</span>
      </div>
      <div class="form-group">
        <label for="city">
          Город
        </label>
        <input type="text" name="city" id="city" class="form-control">
      </div>
      <div class="form-group">
        <label for="street">
          Улица и номер дома
        </label>
        <input type="text" class="form-control" name="street" id="street">
      </div>
      <button class="btn btn-primary">Отправить запрос</button>
    </form>
  </div>
}
