@(product: models.ProductDetails, rentRequest: Form[RentRequest])(implicit user: Option[models.UserEntity],request: play.api.mvc.Request[Any])
@import views.html.common.bootstrap.fc
@main("Взять в аренду", "Index", scripts = Html("")) {
  <div class="row">
    <form action="@routes.Rent.postRequest(product.id)" method="post" class="col-md-6">
      @helper.inputText(rentRequest("quantity"), 'class -> "form-control", '_label -> "Количество")
      @helper.inputText(rentRequest("firstName"), 'class -> "form-control", '_label -> "Имя")
      @helper.inputText(rentRequest("lastName"), 'class -> "form-control", '_label -> "Фамилия")
      @helper.inputText(rentRequest("email"), 'class -> "form-control", '_label -> "Email")
      @helper.inputText(rentRequest("phone"), 'class -> "form-control", '_label -> "Телефон")
      <br>
      <div class="block">
        <span class="block-title">Адрес</span>
      </div>
      @helper.inputText(rentRequest("city"), 'class -> "form-control", '_label -> "Город")
      @helper.inputText(rentRequest("street"), 'class -> "form-control", '_label -> "Улица и номер дома")
      @helper.textarea(rentRequest("notes"), 'class -> "form-control", '_label -> "Замечания к заказу")
      <button class="btn btn-primary">Отправить запрос</button>
      <br>
    </form>
  </div>
  <br>
}
