@(listPage: helpers.PagerHelper, currentUrl: Int => Call)
@if(listPage.totalCount > listPage.pageSize){
    <ul class="pagination">
        @if(listPage.number > 1) {
            <li>
                <a href="@currentUrl(listPage.number - 1)">«</a>
            </li>
        }
        @for(i <- listPage.startPage to listPage.localPageCount){
            <li class="@{if (listPage.number == i) "active" else ""}">
                @if(listPage.number == i){
                    <a href="#">@i</a>
                } else {
                    <a href="@currentUrl(i)">@i</a>
                }
            </li>
        }
        @if(listPage.totalPageCount > listPage.number){
            <li>
                <a href="@currentUrl(listPage.number+1)">»</a>
            </li>
        }
    </ul>
}