@(title: String, linkTitle: String, items: Seq[models.SidebarItem], url: Int => Call)
@if(!items.isEmpty){
<ul class="breadcrumb">
    <li>@title</li>
</ul>
<ul class="nav nav-tabs nav-stacked">
@items.map { item =>
    <li>
        <a href="@url(item.id)" title="@{s"$linkTitle ${item.productCount}"}">
            @if(item.imageId > 0){
                <img class="thumbnail sidenav-image" alt="@item.title" src="@routes.Image.get(item.imageId + ".jpg", 100, "80x50", "full")" />&nbsp;
            }
            @item.title.toLowerCase.capitalize
        </a>
    </li>
}
</ul>
}