@(categories: Seq[CategoryListItem], brands: models.ListPage[BrandEntity], categoryId: Int, brandId: Int, search: String = "")
@import Shared._
<div class="sidebar">
    @sidenav(Messages("product.list.sidebar.categories"),
        Messages("product.list.categories.linkTitle"),
        categories.map {
            case c => SidebarItem(c.id, 0, c.title, c.productCount)
        },
        id => routes.Product.filteredList(id, 1, brandId, s = search))
    @sidenav(Messages("product.list.sidebar.brands"),
        "",
        brands.items.map {
            case b => SidebarItem(b.id, b.imageId, b.title, b.productCount)
        },
        id => routes.Product.filteredList(categoryId, 1, id, s = search))
</div>