@(activeStep: Int)
<div id="myWizard" class="wizard">
<ul class="steps">
    <li data-target="#step1" class="@(if(activeStep == 1) "active" else "")"> <span class="badge @(if(activeStep == 1) "badge-info" else "")"> 1 </span> Корзина <span class="chevron"></span> </li>
    <li data-target="#step2" class="@(if(activeStep == 2) "active" else "")"> <span class="badge @(if(activeStep == 2) "badge-info" else "")"> 2 </span> Оформление заказа <span class="chevron"></span> </li>
    <li data-target="#step2" class="@(if(activeStep == 3) "active" else "")"> <span class="badge @(if(activeStep == 3) "badge-info" else "")"> 3 </span> Подтверждение заказа <span class="chevron"></span> </li>
</ul>
</div>