@(productId: Int)(implicit user: Option[UserEntity], request: play.api.mvc.Request[Any])
    @scripts = {
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.10/angular.js"></script>
        <script src="@routes.Assets.at("javascripts/lodash.js")"></script>
        <script src="@routes.Assets.at("javascripts/modules/stock-item/stock-item.js")"></script>
        <script>
        stockItem.productId = @productId
        </script>
        <script src="@routes.Assets.at("javascripts/modules/stock-item/controllers/StockItemController.js")"></script>
        <script src="@routes.Assets.at("javascripts/modules/stock-item/controllers/DealerController.js")"></script>
        <script src="@routes.Assets.at("javascripts/modules/stock-item/services/StockItemService.js")"></script>
        <script src="@routes.Assets.at("javascripts/modules/stock-item/services/DealerService.js")"></script>


    }
@main(scripts = scripts) {
    <div ng-app="stockItem">
        <div ng-controller="StockItemController">
            <form class="form-inline">
                <div class="form-group">
                    <label>Количество</label>
                    <input class="form-control" name="quantity" ng-model="vm.stockItem.quantity" />
                </div>
                <div class="form-group">
                    <label>Поставщик</label>
                    <select class="form-control" name="dealer" ng-model="vm.stockItem.dealerName" ng-options="d for d in vm.dealers">

                    </select>
                </div>
                <div class="form-group">
                    <label>Цена поставщика</label>
                    <input class="form-control" type="text" ng-model="vm.stockItem.dealerPrice" />
                </div>
            </form>

            <table class="table table-condensed">
                <thead>
                    <tr>
                        <th></th>
                        <th>Количество</th>
                        <th>Поставщик</th>
                        <th>Цена поставщика</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="item in vm.items">
                        <td style="width: 60px">
                            <a href="#" ng-click="vm.remove(item.id)"><i class="icon-trash"></i></a>
                            &nbsp;
                            <a href="#" ng-click="vm.edit(item)"><i class="icon-edit"></i> </a>
                        </td>
                        <td>{{item.quantity}}</td>
                        <td>{{item.dealerName}}</td>
                        <td>{{item.dealerPrice}}</td>
                    </tr>
                </tbody>

            </table>

        </div>
    </div>
}