@(items: Seq[models.CartItem], hidePrices: Boolean = false, returnUrl: String = "", editable: Boolean = true)(implicit request: play.api.mvc.Request[Any])
<ul>
    @items.map { cartItem =>
        <li><a href="@routes.Product.display(cartItem.productId).absoluteURL()">
            @cartItem.title</a> - @{
              if(!hidePrices)
                Messages("formats.price", cartItem.total).trim
              else
                ""
            }
            @Messages("formats.count", cartItem.count)
        </li>
    }
</ul>
@if(!hidePrices) {
    <hr/>
    <p>
      Итого: @Messages("formats.price", items.map(i => i.total).sum)
    </p>
}


