@(product: models.ProductDetails, imageIds: Seq[Int], categories: Seq[models.CategoryListItem],
brands:ListPage[BrandEntity], categoryId: Int, brandId: Int, breadcrumbItems: Seq[(Int, String)],
pageNumber:Int, search: String)(implicit user:Option[models.UserEntity],request: play.api.mvc.Request[Any])
@import Shared._

@subnav = {
    <div id="highlighted">
        <div class="container">
            <div class="row-fluid header">
                <ul class="breadcrumb">
                    @breadcrumbItem(breadcrumbItems, categoryId => routes.Product.filteredList(categoryId, 1, brandId, s = search))
                    @if(!search.isEmpty){
                        <li>
                            <span class="divider">/</span>
                            <a href="@routes.Product.filteredList(categoryId, 1, brandId, s = search)">
                                @Messages("product.display.breadcrumb.search", search)
                            </a>
                        </li>
                    }
                    @if(pageNumber > 1) {
                        <li>
                            <span class="divider"><i class="icon-angle-right"></i></span>
                            <a href="@routes.Product.filteredList(categoryId, pageNumber, brandId, s = search)">
                                @Messages("product.display.breadcrumb.pagenumber", pageNumber)
                            </a>
                        </li>
                    }
                </ul>

            </div>
        </div>
    </div>
}
@withsidebar(product.title, "catalogue", search = search, brands = brands, categories = categories,
categoryId = categoryId, brandId = brandId, subnav = subnav) {


<h4>@product.title</h4>
<div class="row">
    <div class="span4">
        @if(imageIds.length == 0){
        <img alt="" src="@routes.Image.get(product.defaultImageId + ".jpg", 90, "330x250", "full")">
        }else{
            <img alt="" src="@routes.Image.get(imageIds.head + ".jpg", 90, "330x250", "full")">
        }
        <ul class="thumbnails">
            @imageIds.map { imageId =>
            <li class="span1">
                <a href="#" class="thumbnail">
                    <img src="@routes.Image.get(imageId + ".jpg", 90, "50x50", "full")" alt="">
                </a>
            </li>
            }
        </ul>
    </div>
    <div class="span5">
        <div>
            <address>
                <strong>Бренд:</strong> <span>@product.brand.title</span> <br>
                <strong>Артикул:</strong> <span>@product.id</span> <br>
                <strong>Наличие:</strong> <span><a href="#">@Messages("product.display.requestAvailability")</a></span> <br>
            </address>
        </div>
        <h3>
            @Messages("product.display.pricelabel")
            <span id="productprice">
                @priceTag(product.price)
            </span>
            <br/>
            <br/>
        </h3>
        <hr/>
        <div>
            <form class="form-inline" action="@routes.Cart.add()" method="POST">
                <label>@Messages("product.display.countlabel")</label>
                <input type="text" class="input-mini" placeholder="1" name="count" value="1">
                <input type="hidden" name="productId" value="@product.id" />
                <input type="hidden" name="returnUrl"
                    value="@routes.Product.filteredList(categoryId, pageNumber, brandId, productId = product.id, s = search)"/>
                @addToCartButton(product.price)
            </form>
        </div>
    </div>
</div>
<div class="row">
    <div class="span9">
        <div class="tabbable">
            <ul class="nav nav-tabs">
                <li class="active"><a href="#" data-toggle="tab">@Messages("product.display.navtab.descriptiontab")</a></li>
            </ul>
            <article>@Html(product.description)</article>
            <br/>
        </div>
    </div>
</div>

}