@(product: models.ProductDetails, imageIds: Seq[Int], categories: Seq[models.CategoryListItem],
brands:ListPage[BrandEntity], categoryId: Int, brandId: Int, breadcrumbItems: Seq[(Int, String)],
pageNumber:Int, search: String, isAdmin: Boolean, inStock: Int = 0)(implicit user:Option[models.UserEntity],request: play.api.mvc.Request[Any])
@import Shared._
@import views.html.Product.adminToolbar
@import views.html.Shared.alert
@subnav = {
    <div id="highlighted">
        <div class="container">
            <div class="row-fluid header">
                <ul class="breadcrumb">
                    @breadcrumbItem(breadcrumbItems, categoryId => routes.Product.filteredList(categoryId, 1, brandId, s = search))
                    @if(!search.isEmpty){
                        <li>

                            <a href="@routes.Product.filteredList(categoryId, 1, brandId, s = search)">
                                @Messages("product.display.breadcrumb.search", search)
                            </a>
                        </li>
                    }
                    @if(pageNumber > 1) {
                        <li>

                            <a href="@routes.Product.filteredList(categoryId, pageNumber, brandId, s = search)">
                                @Messages("product.display.breadcrumb.pagenumber", pageNumber)
                            </a>
                        </li>
                    }
                </ul>

            </div>
        </div>
    </div>
}
@scripts = {
   @if(isAdmin){
        <script src="@routes.Assets.at("javascripts/ckeditor/ckeditor.js")" type="text/javascript"></script>
        <script src="http://code.angularjs.org/1.2.0rc2/angular.min.js"></script>
        <script>
            'use strict';
            angular.module('directive', []).directive('contenteditable', function() {
                return {
                    require: 'ngModel',
                    link: function(scope, elm, attrs, ctrl) {
                                elm.on('blur', function() {
                                    scope.$apply(function() {
                                    ctrl.$setViewValue(elm.html());
                                });
                            });
                            ctrl.$render = function(value) {
                            elm.html(value);
                        };
                        ctrl.$setViewValue(elm.html());
                    }
                };
            });
            function ProductCtrl($scope) {
                $scope.product = {
                    title: "Test",
                    description: "test"
                };
            }
        </script>
    }
}
@withsidebar(product.title, "catalogue", search = search, brands = brands, categories = categories,
categoryId = categoryId, brandId = brandId, subnav = subnav, scripts = scripts, inStock = inStock) {
    @alert()
    @adminToolbar(user) {
        <li>
            <a href="@controllers.admin.routes.Product.edit(product.id)">
                <i class="icon-edit"></i>
                    Редактировать
            </a>
        </li>
        <li>
            <a href="@controllers.admin.routes.Product.deleteConfirmation(product.id)">
                <i class="icon-trash"></i>
                Удалить
            </a>
        </li>
    }

<div ng-app="productEdit">
<h4>@product.title <small ng-cloak>{{ product.title }}</small></h4>
<div class="row">
    <div class="col-md-5 product-photos">
        @if(imageIds.length == 0){
        <img alt="" src="@routes.Image.get(product.defaultImageId + ".jpg", 90, "330x250", "full")">
        }else{
            <img alt="" src="@routes.Image.get(imageIds.head + ".jpg", 90, "330x250", "full")">
        }
        @if(imageIds.length > 0){
        <hr/>
        <div class="row">
            @imageIds.map { imageId =>
            <div class="col-sm-6 col-md-4 col-lg-3">
                <a rel="lightbox[gallery]" href="@routes.Image.get(imageId + ".jpg", 90, "600x600", "full")" target="_blank" class="thumbnail fresco" data-fresco-group-options="thumbnails:false" data-fresco-group="mixed">
                    <img src="@routes.Image.get(imageId + ".jpg", 90, "50x50", "full")" alt="">
                </a>
            </div>
            }
        </div>
            }
    </div>
    <div class="col-md-7">
        <div>
            <address>
                <strong>Бренд:</strong> <span>@product.brand.title</span> <br/>
                <strong>Категория: </strong><span>
                    <a href="@routes.Product.filteredList(product.category.id, 1)">@product.category.title</a></span><br/>
                <strong>Артикул:</strong> <span>@product.id</span> <br/>

                <strong>Наличие:</strong>
                <span>
                    @(if (product.isAvailable) "Есть в наличии" else "Нет в наличии")
                </span>
                <br/>
            </address>
        </div>
        <h3>
            @Messages("product.display.pricelabel")
            <span id="productprice">
                @priceTag(product.price)
            </span>
            <br/>
            <br/>
        </h3>
        <hr/>
        <div>
            @if(product.isAvailable){
            <form action="@routes.Cart.add()"  method="POST">
                <div class="row">
                <div class="col-md-4">
                <label>@Messages("product.display.countlabel")</label>
                    <input type="text" class="form-control" placeholder="1" name="count" value="1">
                    <input type="hidden" name="productId" value="@product.id" />

                    <input type="hidden" name="returnUrl"
                        value="@routes.Product.filteredList(categoryId, pageNumber, brandId, productId = product.id, s = search)"/>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 justified">

                            @addToCartButton(product.price)

                    </div>
                </div>
            </form>
            }
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="tabbable">
            <ul class="nav nav-tabs">
                <li class="active"><a href="#" data-toggle="tab">@Messages("product.display.navtab.descriptiontab")</a></li>
            </ul>

            <article id="description" @Html(if(isAdmin) "contenteditable=\"true\"" else "")>@Html(product.description)</article>
            <br/>
        </div>
    </div>
</div>
</div>
}