@(productListPage: models.ListPage[models.ProductEntity], currentCategory: CategoryEntity, categories: Seq[models.CategoryListItem], brands: ListPage[models.BrandEntity], brandId: Int, pageNumber: Int)
@import Shared._
@main("Каталог", "catalogue") {

    <div class="row">
        <div class="span3 product_list">
            <ul class="breadcrumb">
                <li>
                    @currentCategory.parentId match {
                        case 0 => {@currentCategory.title}
                        case _ => {<a href="@routes.Product.filteredList(currentCategory.parentId, 1)">@currentCategory.title</a>}
                    }
                </li>
            </ul>
            <ul class="nav nav-tabs nav-stacked">
                @categories.map { category =>
                <li>
                    <a href="@routes.Product.filteredList(category.id, 1)" title="Товаров в категории: @category.productCount">
                        @category.title.toLowerCase.capitalize
                    </a>
                </li>
                }
            </ul>
        </div>
        <div class="span9">
            <ul class="breadcrumb">
                <li>
                    <a href="#">Home</a> <span class="divider">/</span>
                </li>
                <li>
                    <a href="listings.html">Desktops</a> <span class="divider">/</span>
                </li>
                <li class="active">
                    <a href="category.html">Mac</a>
                </li>
            </ul>
            <ul class="thumbnails">
                @brands.items.map { brand =>
                <li style="text-align: center">
                    <a href="#" class="thumbnail">
                        @brand.imageId match {
                            case Some(x) => {
                            <img data-src="holder.js/260x180" alt="@brand.title" src="@routes.Image.get(brand.imageId.get + ".jpg", 100, "71x60", "full")" />
                            }
                            case None => {
                                <img data-src="holder.js/260x180" alt="@brand.title" src="@routes.Image.get("0.jpg", 90, "71x60", "full")" />
                            }
                        }

                    </a>
                    <h6>@brand.title</h6>
                </li>
                }
            </ul>
            @pager(helpers.PagerHelper(productListPage.items.length, productListPage.totalCount, productListPage.number),
                pageNumber => routes.Product.filteredList(currentCategory.id, pageNumber))
            @productListPage.items.map { product =>
                <div class="row">
                    <div class="span2">
                        <a href="product.html">
                            <img alt="" id="tmp" src="@routes.Image.get(product.defaultImageId + ".jpg", 90, "170x170", "full")">
                        </a>
                    </div>
                    <div class="span5">
                        <a href="product.html"><h5>@product.title</h5></a>
                        <p>@product.description</p>
                    </div>
                    <div class="span2">
                        <h4>@product.price р.</h4>
                    </div>
                    <div class="span2">
                        <p><a class="btn btn-primary" href="cart.html">В корзину</a></p>
                    </div>
                </div>
                <hr>
            }
            @pager(helpers.PagerHelper(productListPage.items.length, productListPage.totalCount, productListPage.number),
                pageNumber => routes.Product.filteredList(currentCategory.id, pageNumber))

        </div>
    </div>
}