@(productListPage: models.ListPage[models.ProductEntity], currentCategory: CategoryEntity, categories: Seq[models.CategoryListItem], brands: ListPage[models.BrandEntity], brand:Option[models.BrandEntity], pageNumber: Int, pageSize: Int)
@import helpers.ViewHelper._
@import Shared._

@main(Messages("product.list.title"), "catalogue") {
    <div class="row">
        <div class="span3 product_list">
            <ul class="breadcrumb">
                <li>
                    @currentCategory.parentId match {
                        case 0 => {@currentCategory.title}
                        case _ => {<a href="@routes.Product.filteredList(currentCategory.parentId, 1, brandId(brand))">@currentCategory.title</a>}
                    }
                </li>
            </ul>
            <ul class="nav nav-tabs nav-stacked">
                @categories.map { category =>
                <li>
                    <a href="@routes.Product.filteredList(category.id, 1, brandId(brand))" title="@Messages("product.list.categories.linkTitle") @category.productCount">
                        @category.title.toLowerCase.capitalize
                    </a>
                </li>
                }
            </ul>
        </div>
        <div class="span9">
            <ul class="breadcrumb">
                <li>
                    <a href="#">Home</a> <span class="divider">/</span>
                </li>
                <li>
                    <a href="listings.html">Desktops</a> <span class="divider">/</span>
                </li>
                <li class="active">
                    <a href="category.html">Mac</a>
                </li>
            </ul>
            <div class="row">
            <div class="span9" style="overflow:hidden">
            @brand match {
                case None => {
            <ul class="thumbnails brands" style="width:900px; height:100px">
                @brands.items.map { brandItem =>
                <li>
                    <a href="@routes.Product.filteredList(currentCategory.id, pageNumber, brandItem.id)" class="thumbnail">
                        <img alt="@brandItem.title" src="@routes.Image.get(brandItem.imageId + ".jpg", 100, "71x60", "full")" />
                    </a>
                    <h6>@brandItem.title</h6>
                </li>
                }
            </ul>
                </div>
                    </div>
                } case Some(b) => {
                    <div class="page-header">
                            @if(b.imageId > 0){
                            <a class="img-link" href="@routes.Product.filteredList(currentCategory.id, pageNumber)">
                                <img class="thumbnail" alt="@b.title" src="@routes.Image.get(b.imageId + ".jpg", 100, "71x60", "full")" />
                            </a>
                            }
                            <h3>
                                <a href="@routes.Product.filteredList(currentCategory.id, pageNumber)">@b.title</a>
                            </h3>

                    </div>
                }
            }
            @pager(helpers.PagerHelper(pageSize, productListPage.totalCount, productListPage.number), pageNumber => routes.Product.filteredList(currentCategory.id, pageNumber, brandId(brand)))
            @productListPage.items.map { product =>
                <div class="row">
                    <div class="span2">
                        <a href="@routes.Product.filteredList(currentCategory.id, pageNumber, brandId(brand), productId = product.id)">
                            <img alt="" id="tmp" src="@routes.Image.get(product.defaultImageId + ".jpg", 90, "170x170", "full")">
                        </a>
                    </div>
                    <div class="span5">
                        <a href="@routes.Product.filteredList(currentCategory.id, pageNumber, brandId(brand), productId = product.id)"><h5>@product.title</h5></a>
                        <p>@product.description&nbsp;</p>
                    </div>
                    <div class="span2">
                        <h4>@{product.price match {case d:Double if d == 0.0 => Messages("global.productItem.noprice") case e => e + " р."}}</h4>
                    </div>
                    <div class="span2">
                        @addToCartButton()
                    </div>
                </div>
                <hr />
            }
            @pager(helpers.PagerHelper(pageSize, productListPage.totalCount, productListPage.number), pageNumber => routes.Product.filteredList(currentCategory.id, pageNumber, brandId(brand)))

        </div>
    </div>
}