@(info: String, title: String)(content: Html)(implicit user: Option[models.UserEntity], request: play.api.mvc.Request[Any])
@import views.html.common.bootstrap._
@scripts = {
    <script src="@routes.Assets.at("javascripts/ckeditor/ckeditor.js")" type="text/javascript"></script>
    <script>
            $(function(){
                CKEDITOR.replace("comment");
            });
    </script>
}
@views.html.Admin.main("Администрирование", "index", scripts = scripts) {
    <div class="page-header">
        <h4>@title</h4>
    </div>
    <div class="alert alert-info">@info</div>
    <form method="POST">
        <div class="control-group">
            <label class="control-label">
                    Комментарий
            </label>
            <div class="controls">
                <textarea name="comment">
                    @content
                </textarea>
            </div>
        </div>
        <div class="form-actions">
            <button class="btn btn-primary">Отправить</button>
        </div>
    </form>
}
