@(questionList: ListPage[Question])(implicit user: Option[models.UserEntity], request: play.api.mvc.Request[Any])
@views.html.Admin.main("Администрирование", "questions"){
    <table class="table table-hover">
        <thead>
            <tr>
                <th>ID</th>
                <th>email</th>
                <th>Название товара</th>
                <th>Тип вопроса</th>
            </tr>
        </thead>
        <tbody>
        @questionList.items.map { question =>
            <tr>
                <td>@question.id</td>
                <td>@question.email</td>
                <td>@question.productTitle</td>
                <td>@Messages(question.questionType)</td>
            </tr>
        }
        </tbody>
    </table>
   <ul>

   </ul>
}