@(question: models.Question)(implicit user: Option[models.UserEntity], request: play.api.mvc.Request[Any], messages: Messages)
@views.html.Admin.Question.availabilityLayout(
    "Эта форма используется для ответа покупателю в том случае, если товар недоступен. Текст письма можно изменить",
    "Товара нет в наличии"
){
    <h3>Уважаемый покупатель!</h3>
    <p>
        <a href="@routes.Product.display(question.productId).absoluteURL()">@question.productTitle</a>,
            к сожалению, нет в наличии.
    </p>
    <p>
            С уважением, интернет-магазин Digitalband!
    </p>
}
