@(loginForm: Form[(String, String)], returnUrl: String)(implicit lang: Lang, request: play.api.mvc.Request[Any], user:Option[models.UserEntity])
@import views.html.Security.loginpart

@main(menuItem = "security") {
    <div class="col-md-3"></div>
    <div class="col-md-6">
    @request.flash.data.map {
        case (className, message) => {
            <div class="alert @className">@Messages(message)</div>
        }
    }
    @loginpart(loginForm, returnUrl)
    </div>
    <div class="col-md-3"></div>
}