@(loginForm: Form[(String, String)], returnUrl: String = "")(implicit lang: Lang)
@import views.html.common.bootstrap.fc
<div class="page-block">
    @loginForm.globalError.map { error =>
        <div class="alert alert-danger">
            @error.message
        </div>
    }
    <form class="form-horizontal well" action="@routes.Security.signIn(returnUrl)" method="POST">
        <fieldset>
            <legend>
                <i class="fa fa-key"></i>
                @Messages("security.login.form.legend")
            </legend>
            @helper.inputText(loginForm("email"), args = 'type -> "email", 'class -> "form-control")
            @helper.inputPassword(loginForm("password"), args = 'class -> "form-control")
            <div class="form-actions">
                <button class="btn btn-primary">Войти</button>&nbsp;
                <a href="@routes.Security.forgotPassword">@Messages("security.login.form.forgotpassword")</a>
            </div>
        </fieldset>
    </form>
</div>
