@(loginForm: Form[(String, String)], returnUrl: String)(implicit lang: Lang, request: play.api.mvc.Request[Any], user:Option[models.UserEntity])
@import views.html.common.bootstrap._
@main(menuItem = "security") {
    @loginForm.globalError.map { error =>
        <div class="alert alert-error">
            @error.message
        </div>
    }
    <form class="form-horizontal" action="@routes.Security.signUp(returnUrl)" method="POST">
        <fieldset>
            <legend>
                <i class="icon-key"></i>
                @Messages("security.registration.form.legend")
            </legend>
            @helper.inputText(loginForm("email"), args = 'type -> "email")
            @helper.inputPassword(loginForm("password"))
            <div class="form-actions">
                <button class="btn btn-primary">Зарегистрироваться</button>&nbsp;
            </div>
        </fieldset>
    </form>
}