<div class="col-lg-12">
    <a class="btn btn-primary" ui-sref="deliveryNew"><i class="icon icon-plus"></i> Добавить доставку</a>
    <table class="table table-striped">
        <thead>
        <tr>
            <th></th>
            <th>Город</th>
            <th>Доставка</th>
            <th>Оплата</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="delivery in deliveries">
            <td><a href="#" ng-click="remove(delivery.id)"><i class="icon icon-trash"></i></a></td>
            <td><a ng-href="{{href('deliveryEdit', {deliveryId: delivery.id})}}">{{delivery.city}}</a></td>
            <td>{{delivery.delivery}}</td>
            <td>{{delivery.payment}}</td>
        </tr>
        </tbody>
    </table>
</div>