@()(implicit user:Option[UserEntity], request: play.api.mvc.Request[Any])
@main("Digital Band - о магазине", "about"){
    <div class="page-header">
        <h3>О нас</h3>
    </div>
    <article class="well">
        <img class="text-img thumbnail pull-left" src="@routes.Assets.at("images/about.jpg")">
        <h4>Магазин Digital Band <small>основан музыкантами для музыкантов</small></h4>
        <p>
           Интернет магазин Digital Band был основан в 2006 году в городе Ростове-на-Дону. Мы всегда были очень внимательны к нашим клиентам и к их желаниям. Индивидуальный подход в нашей работе
            позволил нам изучить наших клиентов и понять лучше их желания. И теперь мы можем предложить широкий ассортимент музыкальных
            инструментов любому музыканту в зависимости от его потребностей и возможностей.
        </p>
        <h4>Индивидуальный подход</h4>
        <p>
            Digital Band - это интернет магазин, в котором можно купить все что связано с шоу техникой, музыкальными инструментами,
            и музыкальным оборудованием. Что бы купить то, что вы хотите, больше не надо искать, где это продается,
            сколько это стоит и даже как это называется. Просто нужно связаться с нами по электронной почте или по Skype, и,
            в течении 24 часов мы предоставим вам информацию по вашему запросу. Только индивидуальный подход к каждому покупателю.
            У нас можно торговаться.
        </p>
    </article>

}