@(form: Form[models.ContactEntity])(implicit user:Option[models.UserEntity])
@import views.html.common.bootstrap._

@main(Messages("contacts.title"), "contacts") {
    <div class="page-header">
        <h3>
            @Messages("contacts.subtitle")
        </h3>
    </div>
    <form class="form-horizontal" action="@routes.Application.sendFeedback()" method="POST">
        <div class="well">
            @helper.inputText(form("name"), '_label -> Messages("contacts.form.namelabel"))
            @helper.inputText(form("email"), '_label -> Messages("contacts.form.emaillabel"))
            @helper.inputText(form("productName"), '_label -> Messages("contacts.form.productnamelabel"))
            @helper.textarea(form("message"), '_label -> Messages("contacts.form.messagelabel"))
            <div class="control-group">
                <label class="control-label">@Messages("contacts.form.recaptchalabel")</label>
                <div class="controls">
                    <script type="text/javascript">var RecaptchaOptions = {lang : 'ru', theme : 'white'};</script>
                    <script type="text/javascript" src="http://www.google.com/recaptcha/api/challenge?k=6LfMQdYSAAAAAJCe85Y6CRp9Ww7n-l3HOBf5bifB">
                    </script>
                    <noscript>
                        <iframe src="http://www.google.com/recaptcha/api/noscript?k=6LfMQdYSAAAAAJCe85Y6CRp9Ww7n-l3HOBf5bifB"
                        height="300" width="500" frameborder="0">
                        </iframe> <br>
                        <textarea name="recaptcha_challenge_field" rows="3" cols="40">
                        </textarea>
                        <input type="hidden" name="recaptcha_response_field"
                            value="manual_challenge">
                    </noscript>
                </div>
            </div>
            <div class="form-actions">
                <button class="btn btn-primary">@Messages("contacts.form.submitbutton")</button>
            </div>
        </div>
    </form>
}