@()(implicit user: Option[UserEntity], request: play.api.mvc.Request[Any])
@main("Digitalband - Доставка", "contacts") {
  <div class="block">
    <h3 class="block-title sub-title">
      <span>Доставка</span>
    </h3>
    <ul>
      <li>Доставка товара по Ростову-на-Дону: от 4-х часов до 5 рабочих дней. При отсутствии товара  на складах магазина, срок доставки - от 5 до 45 рабочих дней</li>
      <li>Стоимость доставки составляет 300 р. по Ростову-на-Дону</li>
      <li>Стоимость доставки крупногабаритного товара рассматривается каждый раз индивидуально при подтверждении заказа</li>
      <li>
        Доставка за пределы Ростова-на-Дону- 300 руб. + 30 руб. за каждый километр</li>
      <li>Курьеры доставляют товары с 12:00 до 20:00 по будням. Доставка в более позднее время,в выходные дни  - по договорённости</li>
      <li>Отправка грузов по России осуществляется транспортными компаниями:
        <ul>
          <li>Деловые Линии</li>
          <li>Автотрейдинг</li>
          <li>ПЭК</li>
        </ul>

      </li>
      <li>Самовывоз — бесплатно. Время выдачи оговаривается индивидуально для каждого заказа (в диапазоне от 10:00 до 22:00) . Выдача производится в пунктах выдачи, указанных в разделе «Обратная связь»</li>
    </ul>
    <h3 class="block-title sub-title">
      <span>Способы оплаты</span>
    </h3>
    <ul>
      <li>Оплата наличными при получении товара по Ростову-на-Дону . Вы оплачиваете заказ курьеру при получении товара. Все необходимые финансовые документы курьер вручит Вам вместе с заказом</li>
      <li>
        Оплата по безналу происходит согласно выставленному счету. Мы составим для Вас образец заполнения платежного поручения, если вы будете оплачивать непосредственно в банке, или поможем Вам оплатить заказ через онлайн сервисы любого бака (например Альфа клик или Сбербанк-онлайн). Формирование и отправка заказа производится после получения копии платежного поручения и зачисления денежных средств на расчетный счет. Все необходимые бухгалтерские документы отправляются вместе с товаром
      </li>
      <li>Есть альтернативные способы оплаты, которые помогут Вам сэкономить время и избавят Вас от лишних комиссий. Наши менеджеры помогут Вам с выбором способа оплаты</li>
    </ul>
  </div>
}
