@(title: String = Messages("main.head.title"),
        menuItem: String = "index",
        scripts: Html = Html(""),
        subnav: Html = Html(""),
        search: String = "",
        inStock: Int = 0)(content: Html)(implicit user: Option[models.UserEntity], request: play.api.mvc.Request[Any])

<!DOCTYPE html>
<html>
  <head>
    <title> @title </title>
    <meta name="description" content="Музыкальные инструменты от DigitalBand.  Интернет магазин музыкальных инструментов. Широкий ассортимент, продажа музыкальных инструментов известных марок"/>
    <meta name="keywords" content="музыкальные инструменты, музыкальный магазин, гитары, фортепиано, рояли, световое оборудование, шоу оборудование, купить гитару, купить гитару в ростове, купить гитару в москве, купить колонки, купить фортепиано в москве, купить рояль, купить фортепиано, продажа музыкальных инструментов, магазины музыкальных инструментов, интернет-магазин музыкальных инструментов"/>
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0">
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">

    <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("javascripts/lightbox/css/lightbox.css")">

    <noscript>
      <style>
      .lazy,.lazy-brand {
      display : none ;
      }
      </style>
    </noscript>
  </head>
  <body>
    <div id="wrap">
      <nav class="navbar navbar-fixed-top navbar-inverse" role="navigation">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="fa fa-bar"></span>
              <span class="fa fa-bar"></span>
              <span class="fa fa-bar"></span>
            </button>
            <a class="navbar-brand" href="@routes.Application.index">&nbsp;</a>
          </div>

          <div class="collapse navbar-collapse navbar-ex1-collapse">
            <ul class="nav navbar-nav">

              <li class="@{
                if(menuItem.equals("catalogue")) "active" else ""
              }">
                <a href="@routes.Product.filteredList(1, 1, is = 1)"> @Messages("main.nav.catalogue") </a>
              </li>
              <li class="@{
                if(menuItem.equals("cart")) "active" else ""
              }">
                <a href="@routes.Cart.display()">
                  <i class="fa fa-shopping-cart"></i>
                </a>
              </li>
              @user match {
                case Some(u) => {
                  @if(u.isAdmin) {
                    <li class="@{
                      if(menuItem.equals("admin")) "active" else ""
                    }">
                      <a href="@controllers.admin.routes.Dashboard.index"><i class="fa fa-wrench"></i></a>
                    </li>
                  }
                }
                case None => {}
              }
            </ul>
            <ul class="nav navbar-nav navbar-right">
              <li>
                <form class="navbar-form" action="@routes.Product.filteredList(1, 1, is = inStock)">
                  <div class="form-group">
                    <input type="text" class="form-control search-query" name="s" value="@search">
                    <input type="hidden" name="is" value="@inStock" />
                  </div>
                  <button type="submit" class="btn btn-primary"> @Messages("main.nav.searchbutton") </button>
                </form>
              </li>
              <li class="@{
                if(menuItem.equals("security")) "active" else ""
              }">
                <a href="@(if(user.isDefined) routes.Security.signOff(request.uri) else routes.Security.login(request.uri))">
                  <i class="@(if(user.isDefined) "fa fa-power-off" else "fa fa-key")"></i>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
      @subnav

      <div class="container">

      @content
      </div>
    </div>
    <footer id="footer">
      <section class="footerlinks">
        <div class="container">
          <ul class="nav">
            <li>
            <a href="@routes.Application.contacts"><i class="fa fa-info"></i>&nbsp;@Messages("main.footer.nav.contact") </a>
            </li>
            <li>
              <a href="@routes.Application.delivery"><i class="fa fa-truck"></i>&nbsp;Доставка и оплата</a>
            </li>
            @{
                val pages = helpers.PageHelper.getPages
                pages.map(page => {
                    val link = s"<li><a href='${routes.Application.pages({page.alias})}'>&nbsp;${page.name}</a></li>"
                    Html(link)}
                )
              }
          </ul>

        </div>
      </section>
      <section class="copyrightbottom">
        <div class="container">
          <div class="copyright-inner">
            <span class="pull-right"> DigitalBand &copy; @(helpers.PhoneViewHelper.getPhoneNumber(request.host))</span>
          </div>
        </div>
      </section>
    </footer>
    <script src="@routes.Assets.at("javascripts/lightbox/js/jquery-1.7.2.min.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("javascripts/jquery.lazyload.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("javascripts/bootstrap/transition.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("javascripts/bootstrap/collapse.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("javascripts/bootstrap/dropdown.js")" type="text/javascript"></script>
    <script type="text/javascript" src="@routes.Assets.at("javascripts/lightbox/js/lightbox.js")"></script>

    @scripts
    <script>

    $ ( document ).ready ( function ( ) {
    var settings = {
    threshold : 100
    } ;
    $ ( "img.lazy" ).lazyload ( settings ) ;
    $ ( "img.lazy-brand" ).lazyload ( settings ) ;



    } ) ;
    </script>
    <script type="text/javascript" id="google-analytics">
    var _gaq = _gaq ||[ ] ;
    _gaq.push ([ '_setAccount', 'UA-38971133-1' ] ) ;
    _gaq.push ([ '_trackPageview' ] ) ;
    ( function ( ) {
    var ga = document.createElement ( 'script' ) ; ga.type = 'text/javascript' ; ga.async = true ;
    ga.src = ( 'https:' == document.location.protocol ? 'https://ssl' : 'http://www' ) + '.google-analytics.com/ga.js' ;
    var s = document.getElementsByTagName ( 'script' )[ 0 ] ; s.parentNode.insertBefore ( ga, s ) ;
    } ) ( ) ;

    </script>
  </body>
</html>
