@(title: String, menuItem: String = "index", scripts: Html = Html(""), subnav: Html = Html(""),
search: String = "", categories: Seq[CategoryListItem], brands: ListPage[BrandEntity], categoryId: Int,
brandId: Int,
inStock: Int = 0)(content:Html)(implicit user:Option[models.UserEntity],request: play.api.mvc.Request[Any], messages: Messages)
@import Shared._

@main(title, menuItem, scripts, subnav = subnav, search = search, inStock = inStock) {
    <div class="product-list-container">
        <div class="col-md-3">
            <div class="sidebar block" id="collapsable-sidebar">
                @sidenav(Messages("product.list.sidebar.categories"),
                    Messages("product.list.categories.linkTitle"),
                    categories.map {
                        case c => SidebarItem(c.title, c.id, 0,  c.productCount)
                    },
                    id => routes.Product.filteredList(id, 1, brandId, s = search, is = inStock), "categories-collapse")
                @sidenav(Messages("product.list.sidebar.brands"),
                    "",
                    brands.items.map {
                        case b => SidebarItem(b.title, b.id, b.imageId,  b.productCount)
                    },
                    id => routes.Product.filteredList(categoryId, 1, id, s = search, is = inStock), "brands-collapse", brandId)
            </div>
        </div>
        <div class="col-md-9">
            @content
        </div>
    </div>
}
