@()(implicit user: Option[models.UserEntity], request: play.api.mvc.Request[Any])
@scripts = {
<script src="http://tinymce.cachefly.net/4.1/tinymce.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular.js"></script>
<script src="http://code.angularjs.org/1.2.25/angular-sanitize.js"></script>
<script src="http://code.angularjs.org/1.2.25/angular-route.js"></script>

<script src="@routes.Assets.at("javascripts/vendor/tinymceUi/tinymce.js")"></script>
<script src="@routes.Assets.at("javascripts/vendor/angular/angular-ui-router.js")"></script>
<script src="@routes.Assets.at("javascripts/lodash.js")"></script>

<script src="@routes.Assets.at("javascripts/modules/about/about.js")"></script>
<script src="@routes.Assets.at("javascripts/modules/about/controllers/AboutEditController.js")"></script>
<script src="@routes.Assets.at("javascripts/modules/about/services/AboutService.js")"></script>
<script src="@controllers.admin.routes.About.javascriptRoutes"></script>
}

@views.html.Admin.main("О компании", "index", scripts = scripts) {
<div ng-app="aboutModule">
    <div ui-view></div>
</div>
}