<div class="col-lg-12">
    <a class="btn btn-primary" ui-sref="pageNew"><i class="fa fa-plus"></i> Добавить страницу</a>
    <table class="table table-striped">
        <thead>
        <tr>
            <th></th>
            <th>Название</th>
            <th>Алиас</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="page in pages">
            <td><a href="#" ng-click="remove(page.id)"><i class="fa fa-trash"></i></a></td>
            <td><a ui-sref="pageEdit({pageId: page.id})">{{page.name}}</a></td>
            <td>{{page.alias}}</td>
        </tr>
        </tbody>
    </table>
</div>
