<form class="form-horizontal" name="pageForm">
    <div class="form-group">
        <label>Название</label>
        <input class="form-control" type="text" ng-model="vm.page.name" required />
    </div>
    <div class="form-group">
        <label>Разделы</label>
        <ul class="list-group">
            <li class="list-group-item" ng-repeat="section in vm.page.sections">
                <span class="link-button" ng-click="vm.removeSection(section)"><i class="icon icon-trash"></i></span> {{section.name}}
            </li>
        </ul>
        <div class="input-group">
            <input class="form-control" type="text" ng-model="vm.shop.phone"/>
            <span class="input-group-btn">
                <button class="btn btn-default" ng-click="vm.addPhone()"><i class="icon icon-plus"></i> Добавить раздел
                </button>
            </span>
        </div>
        <div>
            <textarea ui-tinymce ng-model="vm.aboutInfo.legalInfo"></textarea>
        </div>

    </div>
    <div class="form-group">
        <button class="btn btn-primary" ng-click="vm.save()">Сохранить</button>
    </div>
</form>