<form class="form-horizontal" name="pageForm">
    <script type="text/ng-template" id="editSection.html">
        <div class="modal-header">
            <h3 class="modal-title">Раздел</h3>
        </div>
        <div class="modal-body">
            <div class="form-group">
                <label>Название</label>
                <input class="form-control" type="text" ng-model="vm.section.name"/>
            </div>
            <div class="form-group">
                <label>Описание</label>
                <div>
                    <textarea ui-tinymce ng-model="vm.section.content"></textarea>
                </div>
            </div>
            <alert ng-repeat="alert in vm.alerts" type="{{alert.type}}" close="vm.closeAlert($index)">{{alert.message}}</alert>
        </div>

        <div class="modal-footer">
            <button class="btn btn-primary" ng-click="vm.save()">Сохранить</button>
            <button class="btn btn-default" ng-click="vm.cancel()">Отмена</button>
        </div>
    </script>
    <div class="form-group">
        <label>Название</label>
        <input class="form-control" type="text" ng-model="vm.page.name" />
    </div>
    <div class="form-group">
        <label>Алиас</label>
        <input class="form-control" type="text" ng-model="vm.page.alias"/>
    </div>
    <div class="form-group">
        <label>Разделы</label>
        <div>
            <a class="btn btn-primary" ng-click="vm.addSection()"><i class="icon icon-plus"></i> Добавить раздел</a>
        </div>
        <ul class="list-group">
            <li class="list-group-item" ng-repeat="section in vm.page.sections">
                <span class="link-button" ng-click="vm.removeSection(section)"><i class="icon icon-trash">&nbsp;</i></span>
                <span class="link link-button" ng-click="vm.editSection(section)"><i class="icon icon-pencil"></i></span>
                <span class="link link-button" ng-click="vm.editSection(section)">{{section.name}}</span>
            </li>
        </ul>
    </div>
    <div class="form-group">
        <button class="btn btn-primary" ng-click="vm.save()">Сохранить</button>
    </div>
</form>